<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% if description %}
    <meta name="description" content="{{ description  }}">
    {% endif %}
    <link rel="canonical" href="https://spiritualites.ch{{ page.url }}">
    <meta name="author" content="Nicolas Friedli">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i&display=swap" rel="stylesheet">
    <style>
        html {
            font-family: 'Merriweather', serif;
            color: hsl(180, 90%, 20%);
            background: hsl(180, 70%, 90%);
            font-size: 100%;
            padding: 1rem;
            line-height: 1.5;
        }

        body {
            margin: 1rem auto;
            max-width: 35rem;
        }

        header,
        footer {
            font-size: .9rem;
            color: hsl(180, 90%, 20%);
        }


        header a {
            color: hsl(180, 90%, 20%);
            text-decoration: none;
        }

        main {
            margin-top: 5rem;
        }

        footer {
            margin-top: 5rem;
            margin-bottom: 3rem;
        }

        h1,
        h2,
        h3,
        h4 {
            font-style: italic;
        }

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1.3rem;
        }

        h3 {
            font-size: 1.1rem;
        }

        h4 {
            font-size: 1rem;
        }

        a {
            color: hsl(180, 90%, 20%);
        }

        .header-anchor {
            color: hsl(180, 90%, 20%);
            text-decoration: none;
        }

        .header-anchor:hover {
            color: hsl(180, 90%, 20%);
        }
    </style>
    <meta property="og:locale" content="fr_FR">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ title }}">
    <meta property="article:author" content="https://www.facebook.com/nicolasfriedli.ch">
    <meta property="article:publisher" content="https://www.facebook.com/nicolasfriedli.ch">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131329337-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-131329337-5');
    </script>

</head>

<body>
    <header>
        <a href="/" rel="home">Spiritualités protestantes</a>
    </header>
    <main>
        <article class="h-entry">
            <h1 class="p-name">{{ title }}</h1>
            <div class="e-content">
                {{ content | safe }}
            </div>
        </article>
    </main>
    <footer>
        Les offres spirituelles protestantes en Suisse romande.
    </footer>
</body>

</html>